body {
    background-color: #f2f4fb;
}

.small-container {
    max-width: 480px;
    margin: 0 auto;
    padding: 1rem;
}

.center {
    text-align: center;
}

.margin-20 {
    margin-left: 20px;
}

.spacer-small {
    height: 30px;
}

.spacer-medium {
    height: 60px;
}

.header {
    height: 190px;
}

.header-img {
    height: 100%;
}

.text-right {
    text-align: right;
}

.display-none {
    display: none;
}

.w100 {
    width: 100%;
}

.image-thumb {
    position: relative;
    overflow: hidden;
    width: 100%
}

.image-thumb::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.image-thumb > img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    height: auto;
}
