body {
    background-color: #f2f4fb;
}

.small-container {
    max-width: 480px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.margin-20 {
    margin-left: 20px;
}

.spacer-medium {
    height: 60px;
}
